.side-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997; }

.side-popup {
  display: none;
  z-index: 998;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff; }
  .side-popup.left {
    right: auto; }
  .side-popup.right {
    left: auto; }
  .side-popup .side-popup-body {
    height: 100%;
    overflow: auto;
    overflow-x: hidden; }

*.shown-side-popup.shown-left-side-popup {
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px); }
*.shown-side-popup.shown-right-side-popup {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px); }

/*# sourceMappingURL=side_popup.css.map */
