$side_popup_width: 250px;
$side_popup_color: #fff;
$side_popup_back_color: #333;
$overlay_back_color: rgba(0,0,0,0.5);

.side-popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $overlay_back_color;
	z-index: 997;
}
.side-popup {
	display: none;
	z-index: 998;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: $side_popup_width;
	height: 100%;
	background-color: $side_popup_back_color;
	color: $side_popup_color;
	
	&.left {
		right: auto;
	}
	&.right {
		left: auto;
	}
	.side-popup-body {
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
	}
}
*.shown-side-popup {
	&.shown-left-side-popup {
		-webkit-transform: translateX($side_popup_width);
		-moz-transform: translateX($side_popup_width);
		-ms-transform: translateX($side_popup_width);
		-o-transform: translateX($side_popup_width);
		transform: translateX($side_popup_width);
	}
	&.shown-right-side-popup {
		-webkit-transform: translateX(-$side_popup_width);
		-moz-transform: translateX(-$side_popup_width);
		-ms-transform: translateX(-$side_popup_width);
		-o-transform: translateX(-$side_popup_width);
		transform: translateX(-$side_popup_width);
	}
}